In [12]:
import matplotlib.pyplot as plt
import pylab as py
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.stats as sm_stats
import statsmodels.stats.api as sms
import scipy.stats as stats

In [15]:
filename = "dataset/other_train.csv"
data = pd.read_csv(filename)
data.head()

,Unnamed: 0,name,address,kurtosis_oxygen,pregnant,education-num,relationship,skewness_glucose,mean_glucose,std_oxygen,...,kurtosis_glucose,personal_info,education,fnlwgt,class,std_glucose,income,mean_oxygen,hours-per-week,capital-loss
0,0,Christian Gustafson,"67834 Kim Plaza Suite 620\r\nNew Desiree, KS 8...",6.123066,f,13.0,Not-in-family,-0.015362,141.187500,29.136418,...,-0.139766,Prof-specialty|United-States\r\r\nNever-marrie...,Bachelors,196912.0,0.0,47.682339,<=50K,5.114548,40.0,0.0
1,1,Charles Gillespie,62025 Michael Turnpike\r\nSouth Stephaniemouth...,9.839099,f,9.0,Husband,0.672588,120.718750,16.569199,...,0.257893,Other-service|United-States\r\r\nMarried-civ-s...,HS-grad,230136.0,0.0,43.125713,>50K,2.163880,60.0,0.0
2,2,Milton Dube,91113 Pierce Pass Suite 424\r\nPort Alejandrab...,0.237147,f,10.0,Own-child,16.544542,34.640625,65.976393,...,3.799229,Sales|United-States\r\r\nNever-married -- Priv...,Some-college,165505.0,1.0,34.898230,<=50K,88.933946,20.0,0.0
3,3,Roy Paradis,"01168 Stark Pine Apt. 583\r\nDavidville, IN 32044",9.420978,f,5.0,Not-in-family,-0.877518,136.148438,13.897067,...,-0.053924,Handlers-cleaners|United-States\r\r\nDivorced ...,9th,215150.0,0.0,61.442566,<=50K,2.379599,50.0,0.0
4,4,Jonathan Spears,698 Cody Prairie Suite 415\r\nPort Jenniferche...,1.395169,f,4.0,Own-child,20.564579,34.914062,60.871138,...,4.429704,?|United-States\r\r\nDivorced -- ?|White,7th-8th,200819.0,1.0,36.730868,<=50K,74.640468,84.0,0.0

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983 entries, 0 to 3982
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3983 non-null   int64
 1   name              3983 non-null   object
 2   address           3983 non-null   object
 3   kurtosis_oxygen   3974 non-null   float64
 4   pregnant          3971 non-null   object
 5   education-num     3579 non-null   float64
 6   relationship      3961 non-null   object
 7   skewness_glucose  3965 non-null   float64
 8   mean_glucose      3963 non-null   float64
 9   std_oxygen        3967 non-null   float64
 10  capital-gain      3969 non-null   float64
 11  skewness_oxygen   3975 non-null   float64
 12  kurtosis_glucose  3968 non-null   float64
 13  personal_info     3974 non-null   object
 14  education         3971 non-null   object
 15  fnlwgt            3967 non-null   float64
 16  class             3962 non-null   float64
 17  std_glucose       3968 non-null   float64
 18  income            3969 non-null   object
 19  mean_oxygen       3971 non-null   float64
 20  hours-per-week    3970 non-null   float64
 21  capital-loss      3970 non-null   float64
dtypes: float64(14), int64(1), object(7)
memory usage: 575.7+ KB